---
layout: default
---

<h1 class="category-title">Artícles sobre {{ page.category }}</h1>

        <ul class="category-list">
            {% for post in site.categories[page.category] %}
                    <li>
                      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2> <h3>({{post.author}})</h3>
                    </li>
          {% endfor %}
        </ul>
